plugins:
  - name: solidity
  - name: alchemy
  - name: hardhat
  - name: keyring

# keyring:
#   set_env_vars: true

deployments:
  ethereum:
    rinkeby:
    - address: "0x0c25212c557d00024b7Ca3df3238683A35541354"
      contract_type: TestContract

ethereum:
  mainnet:
    default_provider: infura

hardhat:
  fork:
    ethereum:
      mainnet:
        upstream_provider: alchemy

dependencies:
  - name: OpenZeppelin
    github: OpenZeppelin/openzeppelin-contracts
    version: 4.4.2
  # - name: ds-test
  #   github: dapphub/ds-test
  #   branch: master
  #   contracts_folder: src
  - name: solidity-bytes-utils
    github: GNSPS/solidity-bytes-utils
    version: 0.8.0
  # - name: vault
  #   github: yearn/yearn-vaults
  #   version: 0.4.3

solidity:
  import_remapping:
    - "@openzeppelin=OpenZeppelin/4.4.2"
    - "@solidity-bytes-utils/contracts=solidity-bytes-utils/v0.8.0"
